* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    height: 133px;
    padding: 0 100px;
}
.nav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.header-nav__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-nav__links ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}
.header-nav__links ul li a {
    color: #8a94a6;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    font-family: inter;
}

.header-nav__btn {
    color: #ffffff;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    font-family: inter;
    width: 179px;
    height: 57px;
    background-color: #377dff;
    border: none;
    margin-left: 60px;
    cursor: pointer;
}

/* ====== Hero Section ====== */

.hero-section {
    display: flex;
    padding: 0 100px;
    padding-bottom: 30px;
}
.hero-section__left {
    padding-right: 110px;
}

.hero-section__img {
    width: 594px;
    height: 606x;
    margin-top: 40px;
    margin-left: 187px;
}
.hero-section__h1 {
    font-weight: 700;
    font-size: 60px;
    color: #323b4b;
    line-height: 70px;
    margin-top: 130px;
    margin-bottom: 25px;
}
.hero-section__p1 {
    font-weight: 500;
    font-size: 20px;
    color: #8a94a6;
    line-height: 35px;
    margin-bottom: 25px;
}
.hero-section__p2 {
    /* font-weight: 500; */
    font-size: 24px;
    font-family: inter;
    color: #377dff;
}
.hero-section__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =======  Hero Section Offers ====== */
.hero-section__offers {
    background-color: #fafbfc;
    padding-top: 100px;
    height: 1099px;
}
.hero-section-offers__h2 {
    font-size: 60px;
    font-weight: 700;
    font-family: inter;
    text-align: center;
    color: #323b4b;
    margin-bottom: 40px;
}

.hero-section-offers__p {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    font-family: inter;
    text-align: center;
    color: #8a94a6;
    padding-bottom: 50px;
}
.hero-section__cards {
    padding-left: 100px;
    padding-right: 100px;
}
.hero-section__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.cards {
    height: 285px;
    width: 604;
    background-color: #ffffff;
}

.hero-section-cards__bottom {
    display: flex;
    justify-content: space-between;
}
.card1-icon {
    padding: 30px 0 30px 30px;
}
.card1-h3 {
    font-size: 28px;
    font-weight: 700;
    font-family: inter;
    color: #323b4b;
    padding-left: 30px;
    padding-bottom: 30px;
}
.card1-p {
    font-family: inter;
    font-size: 18px;
    font-weight: 500;
    color: #8a94a6;
    padding-left: 30px;
}

/* =====  Hero Section3 Job ==== */
.hero-secton3__job {
    height: 900px;
    padding: 150px 100px 0 100px;
}
.hero-section3__container {
    display: flex;
}

.hero-section3__right {
    margin-left: 200px;
    padding-top: 115px;
}
.hero-section3__img {
    width: 604px;
    height: 616px;
}
.hero-section3__h2 {
    color: #323b4b;
    font-weight: 700;
    font-size: 60px;
    font-family: inter;

    line-height: 73px;
}
.hero-section3__p {
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    color: #8a94a6;
    margin-top: 40px;
}

/* ===== Hero Section Vacancy ===== */

.hero-section4__vacancy {
    background-color: #fafbfc;
    /* width: 1440px; */
    height: 1331px;
    /* margin: 0 auto; */
    padding: 150px 280px 0 280px;
}
.hero-section4__h2 {
    font-size: 60px;
    font-weight: 700;
    font-family: inter;
    color: #323b4b;
    text-align: center;
}
.hero-section4__p {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    color: #8a94a6;
    text-align: center;
    margin-top: 35px;
    font-family: inter;
}
.hero-section4__cards {
    margin-top: 0px;
}
.hero-section4__card0 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 800px;
}
.hero-section4__card1 {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 30px;
    height: 115px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.section4__card1 {
    font-size: 24px;
    font-weight: 600;
    color: #323b4b;
    font-family: inter;
}
.section4__card9 {
    font-size: 20px;
    font-weight: 500;
    color: #8a94a6;
    font-family: inter;
}
.hero-section4__btn {
    width: 604px;
    height: 66px;
    background-color: #e5f1ff;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    font-weight: 600;
    color: #377dff;
    font-family: inter;
    margin-left: 180px;
    margin-top: 50px;
}
